.modal-child-channel-small-delete {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 440px;
  height: 250px;
  border-radius: 5px;
  background-color: #36393f;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.channel-delete-image {
  height: 180px;
  margin-bottom: 20px;
  background-color: inherit;
  opacity: 20%;
}

.channel-header-label.delete {
    margin-top: 50px;
}

#channel-delete-subheader {
  line-height: 20px;
  color: #8E9297;
}

#channel-delete-subheader2 {
  line-height: 20px;
  color: #ff4040;
}

.channel-delete-button {
  justify-self: flex-start;
  width: 122px;
  height: 38px;
  padding: 2px 16px;
  border-radius: 3px;
  font-size: 13px;
  line-height: 16px;
  border: 0px;
  text-align: center;
  color: white;
  background-color: #43B581;
  margin-left: 20px;
  cursor: pointer;
}

.channel-delete-button:hover {
  background-color: rgb(55, 148, 106);
  transition: background-color 0.2s;
}