.main {
    display: flex;
    flex-wrap: wrap;
}

.server-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 48px;
    margin: 8px;
    padding: 12px 0 0;
    background-color: #202225;
}

.server-list-item {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-bottom: 8px;
    align-items: center;
    background-color: #36393f;
    justify-content: center;
}

.server-list-item.at-me {
    background-color: #36393f;
    -webkit-transition: background-color 0.2s;
}

.server-list-item.at-me img {
    width: 85px;
    height: 85px;
}

.server-list-item.at-me:hover {
    /* animation: change-background-color #7289DA 0.2s linear 0s 1 forwards; */
    background-color: #7289DA;
}
/* @keyframes change-border-radius {
    from { border-radius: 50%; }
    to { border-radius: 35%; }
} */

.server-list-item-label {
    display: none;
}

.server-list-item:hover + .server-list-item-label {
    display: block;
}

.server-list-item:hover {
    animation: change-border-radius 0.2s linear 0s 1 forwards;
}

@keyframes change-border-radius {
    from { border-radius: 50%; }
    to { border-radius: 35%; }
}

.separator {
    height: 2px;
    width: 32px;
    border-radius: 1px;
    background-color: darkgrey
}

.server-list-item.add-or-join-server {
    background-color: #36393f;
    fill: green;
    -webkit-transition: background-color 0.2s;
    /* -webkit-transition: color 0.2s; */
}

.server-list-item.add-or-join-server:hover {
    fill: #fff;
    background-color: #43b581;
}