
.message-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 17px;
  padding-top: 5px;
  position: relative;
}

.message-username {
  font-weight: bold;
  margin-top: 10px;
}

.message-body {
  display: flex;
  flex-direction: column;
  margin-left: 21px;
  width: 95%;
  font-size: 12px;
  line-height: 15px;
  margin-left: 10px;
  color: #72767d;
  margin-top: 10px;
}

.message-user-image {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}