#top-bar {
  min-height: 49px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-bar-hash-icon {
  margin-left: 15px;
}

.top-bar-hash-icon path{
  fill: #72767D;
}
#main-top-channel-name {
  color: white;
  font-weight: bolder;
  font-size: 15px;
  margin-left: 5px;
}
